@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400&family=Inconsolata:wght@200..900&display=swap');

/* GENERAL */
* {
    padding: 0;
    margin: 0;
}

html {
    font-family: "Rubik", sans-serif;
    color: #666;
    background-color: #fff;
    scroll-behavior: smooth;
}

body {
    cursor: default;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15vh 7vw 0 7vw;
    min-height: 81vh;
    height: 100%;
}

button, a, span {
    font-family: "Rubik", sans-serif;
    color: #222;
    font-weight: bold;
    text-decoration: none;
    background-color: transparent;
    transition: all 300ms;
}

h1, h2 {
    color: #222;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.2rem;
    color: #444;
}

::before, ::after {
    position: absolute;
    transition: all 400ms;
}

.icon {
    height: 2rem;
}

/* NAVIGATION */
.nav-container {
    display: block;
    position: fixed;
    width: 100%;
    z-index: 999;
}

.nav-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 13vh;
    gap: 5rem;
    padding: 0 5rem;
    backdrop-filter: blur(13px);
}

.nav-shadow {
    box-shadow: 0 0 13px #bbb;
}

.nav-title-container {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 0.3rem
}

.nav-title > span {
    font-family: "Inconsolata", monospace;
    font-size: 1.3rem;
    display: block;
}

#nav-name {
    font-size: 2.5rem;
    color: #088;
}

#nav-job {
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    transition: all 600ms ease-in 200ms;
}

.nav-job {   
    border-left: 0.15rem solid transparent;
    border-right: 0.15rem solid transparent;
}

.reveal {
    border-left-color: #666;
    animation: slide 2s forwards 1000ms;
}

@keyframes slide {
    0% { 
        width: 0;
        border-right-color: #666;
    }
    80% { 
        width: 100%;
    }
    100% {
        width: 100%;
        border-right-color: transparent;
    }
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 3rem;
}

.nav-links a {
    position: relative;
    text-transform: uppercase;
    text-decoration-color: transparent;
}

.nav-links a::before {
    content: "-";
    color: transparent;
    left: -0.8rem;
}

.nav-links a::after {
    content: "-";
    color: transparent;
    right: -0.8rem;
}

.nav-links a:hover::before {
    color: #222;
}

.nav-links a:hover::after {
    color: #222;
}

.nav-burger-container {
    width: 2rem;
    display: none;
}

.nav-burger {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    cursor: pointer;
}

.nav-burger > span {
    display: block;
    background-color: #222;
    height: 0.2rem;
    border-radius: 1rem;
}

.nav-burger.open > span:nth-child(1) {
    transform: translate(0, 8px) rotate(45deg);
}

.nav-burger.open > span:nth-child(2) {
    transform: rotate(135deg);
}

.nav-burger.open > span:nth-child(3) {
    transform: translate(0, -8px) rotate(45deg);
}

.nav-menu {
    list-style: none;
    height: 0;
    top: 100%;
    right: 0;
    position: fixed;
    overflow: hidden;
    transition: all 300ms;
}

.nav-menu.open {
    height: 13rem;
}

.nav-menu > li > a {
    display: block;
    padding: 1rem 2rem;
    border-top: 0.1rem solid #888;
    background-color: #fff;
}

.sections-container {
    position: relative;;
}

/* OVERLAY */
.overlay {
    position: fixed;
    background-color: #444;
    opacity: 0;
    top: 13vh;
    right: 0;
    z-index: 1;
    width: 100%;
    transition: all 300ms 200ms;
    pointer-events: none;
    display: none;
}

.overlay.open {
    opacity: 0.8;
    transition: all 300ms;
    pointer-events: all;
}

/* HOME SECTION */
.home {
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
}

.home > div {
    margin-bottom: 5rem;
}

.home-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.3rem;
    gap: 0.3rem;
}

.home-info-container h1 {
    font-size: 3.5rem;
    color: transparent;
    background-image: linear-gradient(90deg, #066, #0dd);
    background-clip: text;
    white-space: nowrap;
}

.home-info-container h2 {
    font-size: 2.5rem;
}

.home-btn-container {
    display: flex;
    align-items: center;
    height: 3rem;
    margin-top: 1.8rem;
    gap: 0.3rem;
}

.home-btn {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    position: relative;
}

.home-btn.download-btn {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    margin-right: 0.5rem;
    gap: 0.5rem;
    border: 3px solid #222;
    border-radius: 3rem;
    filter: invert(25%);
}

.home-btn.download-btn:hover {
    filter: none;
}

.icon-btn {
    height: 2rem;
    z-index: 1;
    filter: invert(25%);
}

.btn-border {
    position: absolute;
    display: block;
    padding: 1.5rem;
    top: -0.15rem;
    left: -0.15rem;
    border: 3px solid transparent;
    border-radius: 3rem;
}

.icon-btn:hover ~ .btn-border {
    border-color: #222;
}

.icon-btn:hover {
    filter: none;
}

.home-photo {
    height: 18rem;
    border-radius: 50%;
    box-shadow: 0px 0px 70px inset #bbb;
    opacity: 0.88;
}

/* ABOUT */
.about {
    gap: 3rem;
}

.about-txt-container {
    text-align: center;
    width: 80vw;
}

.about-txt-container > p {
    margin-top: 1rem;
}

.about-skills-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skill-list-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16.66%, 1fr));
    justify-items: center;
    align-items: center;
    row-gap: 1.5rem;
    width: 45rem;
}

.skill-container {
    display: flex;
    align-items: center;
    position: relative;
    opacity: 0.8;
    margin-top: 1.5rem;;
}

.skill-tooltip {
    font-size: 0.8rem;
    font-weight: normal;
    color: #fff;
    background-color: #666;
    position: absolute;
    padding: 0.3rem 0.5rem;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 1rem;
    box-shadow: 0 0 13px invert #000;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
}

.skill-icon {
    height: 4rem;
}

.skill-icon:hover ~ .skill-tooltip {
    opacity: 1;
}

/* EXPERIENCE */
.exp-txt-container {
    text-align: center;
}

.exp-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
}

.exp-info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 5rem;
    position: relative;
}

.exp-info:nth-child(even) {
    flex-direction: row-reverse;
}

.exp-title {
    font-size: 0.8rem;
    text-align: right;
    width: 100%;
}

.exp-info:nth-child(even) > .exp-title {
    text-align: left;
}

.exp-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 0.15rem;
    background-color: #bbb;
    position: absolute;
}

.exp-icon {
    height: 1.5rem;
    background-color: #fff;
    content: url("/assets/icons/exp.svg");
    border: 0.3rem solid #fff;
    border-radius: 50%;
}

.exp-title-icon {
    display: none;
}

.exp-icon.educ {
    content: url("/assets/icons/educ.svg");
}

.exp-desc-container {
    display: flex;
    align-items: center;
    flex-direction: inherit;
    width: 100%;
    position: relative;
    filter: drop-shadow(0 0 3px #bbb);
}

.exp-desc {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #eee;
    padding: 2rem;
    line-height: 1.5;
    border-radius: 1rem;
}

.exp-desc > p {
    text-align: justify;
}

.exp-desc-arrow {
    background-color: #eee;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 0.3rem;
    transform: rotate(45deg);
    position: absolute;
}

.exp-desc-arrow.left {  
    left: -0.5rem;
}

.exp-desc-arrow.right {
    right: -0.5rem;
}

/* CONTACT */
.contact-info-container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    height: 100%;
    padding: 2rem;
    gap: 3rem 5rem;
    margin-top: 5rem;
}

.contact-info {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    opacity: 0.8;
}

.contact-info > a {
    font-weight: normal;
}

.contact-info > label {
    color: #222;
}

.contact-icon {
    height: 2rem;
}

/* FOOTER */
footer {
    font-size: 0.8rem;
    text-align: center;
    height: 3rem;
}

.footer-name {
    color: #088;
}